@{
    Layout = "_Layout";
}

<head>
    <title>title</title>
</head>
<body>
    <div class="container bg-light">
        <h1>Who Are We?</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto, distinctio enim facilis illum maiores possimus quasi rem repellat repudiandae sunt totam voluptatibus voluptatum. Explicabo ipsa, quae. Harum, officia reiciendis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolor error hic quibusdam repellat sequi tempora totam? Cumque deleniti doloribus, exercitationem facere in iure laborum, natus odit officia, placeat saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eligendi et ex impedit iste magni minima praesentium totam vero? Aliquid asperiores, corporis doloremque dolores enim numquam ratione ullam vero voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dicta ea eius, hic nemo optio provident suscipit. Ad atque aut earum facere magni, nemo perspiciatis repellendus unde velit veniam vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis, deleniti dicta eligendi error fugiat ipsa nihil praesentium rem? Alias beatae dignissimos eligendi perspiciatis quasi sit veritatis? Accusantium, aut, perspiciatis.
        </p>
    </div>

    <div class="container bg-light mt-5">
        <h1>Our Best Services</h1>
        <ul>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </li>
        </ul>
    </div>
</body>