@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutDesign"; 

}


<div class="text-center" style="max-width: 550px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);border:hidden">
    <h1 class="display-4">Welcome To RioStore!</h1>

</div>
