@{

    var tvShow = (TvShowModel) ViewData["TvShow"];
    <h1 class="align-middle" style="color: white">ID is @tvShow.Id, Name is @tvShow.Name, Year is @tvShow.Year. <img src="@tvShow.Image" height="200px" alt="Not supported"></h1>

}