@{
    Layout = "WebLayout";
}
<div>
    <div class="bg">
        <img id="img" src="https://www.nike.com/android-icon-192x192.png" />
        <h2 id="h2">NIKE</h2>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
        <h6 id="h6_2"> Online footwear Shopping . . find all NIKE <span>sneakers</span> collections <button type="button" class="btn btn-outline-light"><a href="/Categories">Shop Now</a></button></h6>
    </div>
</div>






