@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
         <div>
            <button> <a href="https://localhost:44350/animes">Anime</a> </button>
            <button> <a href="https://localhost:44350/mangas">Manga</a> </button>
        </div>
        https://i.pinimg.com/originals/52/4a/0a/524a0ae3b70b54ff5e6777243e881d72.jpg
        https://i.pinimg.com/originals/92/d1/46/92d1466d5e39c20927ee6bc642e24e17.jpg
        https://wallpapercave.com/wp/wp5777332.jpg
    </div>*@

@*<div style="display:flex; position:absolute">
        <div style="position:relative">
            <img style="width:30em; height:30em" src="https://i.pinimg.com/originals/92/d1/46/92d1466d5e39c20927ee6bc642e24e17.jpg"  alt="...">
            <button style=" position: absolute"></button>
        </div>
        <div style="position:relative">
            <img style="width:30em; height:30em; padding-left:0.1em " src="https://i.pinimg.com/originals/52/4a/0a/524a0ae3b70b54ff5e6777243e881d72.jpg" alt="...">
            <button style="position: absolute"></button>
        </div>
    </div>*@
<div class="text-center">
    <h1 class="display-4" style="color:white">Welcome </h1>
    <div style="display:inline-flex; position:relative" class="align-content-center">
        <button style="margin-right:5em"> <a href="https://localhost:44350/animes">Anime</a> </button>
        <button style="margin-left:5em"> <a href="https://localhost:44350/mangas">Manga</a> </button>
    </div>
</div>