@{
    ViewData["Title"] = "Abou the project";
}
<h1>@ViewData["Title"] :</h1>

<p>This project about web site which you can know the what are the rating and many more about anime and manga </p>
<br />
<p>i did a news controller to try to use the api but i didn't know but am gonna work on it </p>
