@{
    ViewData["Title"] = "Home Page";
}

<div class="container bg-white p-5 text-center rounded">
    <img src="https://fontmeme.com/permalink/210528/71a4e83ea3b6bb7e35e9c328305a1560.png" class="img-fluid" alt="get-schwifty-font" border="0">
    <p id="info">
        After having been missing for nearly 20 years, Rick Sanchez suddenly arrives at daughter Beth's doorstep to move in with her and her family. Although Beth welcomes Rick into her home, her husband, Jerry, isn't as happy about the family reunion. Jerry is concerned about Rick, a sociopathic scientist, using the garage as his personal laboratory. In the lab, Rick works on a number of sci-fi gadgets, some of which could be considered dangerous. But that's not all Rick does that concerns Jerry. He also goes on adventures across the universe that often involve his grandchildren, Morty and Summer.
    </p>
    <h5>First episode date:</h5> <span>December 2, 2013</span>
    <h5>No. of episodes:</h5> <span>41 <a href="/episodes"> (list of episodes)</a></span>
    <h5>Producers:</h5> J. Michael Mendel
    <h5>Program creators:</h5> Justin Roiland, Dan Harmon
    <hr />
        <p><a href="https://rickandmortyapi.com/">Rick and Morty API</a>.</p>
</div>
