@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container bg-white p-5 text-center rounded-circle">
    <p>
        All the credits go to
        <a href="https://rickandmortyapi.com/">Rick and Morty API</a>.
    </p>

</div>
