@{
    ViewData["Title"] = "Home Page";

}

<div class="row border border-dark ">
    <div class=" col-sm-6">
        <img class="img-fluid" src="http://www.arizonapetvet.com/blog/wp-content/uploads/2019/06/shutterstock_602702633-1024x351.jpg" alt="Card image cap">

    </div>
    <div class="col-sm-6 bg-white d-flex align-items-center justify-content-center" >
        <img src="https://www.fonts4free.net/includes/preview.php?fid=13857&fname=Rick%20and%20Morty&fsize=58&fcolor=ff99cc&text=kitty%20cat&fcase=Abc" class="img-fluid"/>
    </div>
    <div class="col d-flex align-items-center justify-content-center bg-light p-5">
        <h3>

            Want to know more about your cat? you came to the right place....<a href="/cats">Click here</a>
        </h3>
    </div>
</div>
