@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to E-Library</h1>
    <p>Get started by using the navigation bar at the top or <a href="Books">Click Here</a>.</p>
</div>
