@{
    ViewData["Title"] = "Home Page";
}
<h1 style="text-align: center; color: white;">______ Health Choice Platform______</h1>

<h3 style="text-align: center; color: white;">Your first choice to good health</h3>



<div class="text-center" style="margin-bottom:10px; margin-top:150px;">

    <a href="/Home/Index">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <img src="https://i.ibb.co/hcfpj5n/Poster-Gyms.png" class="d-block w-100" height="450px" alt="Gym Poster" />
                </div>
                <div class="carousel-item">
                    <img src="https://i.ibb.co/cTr91RX/Poster-Res.png" class="d-block w-100" height="450px" alt="Rest Poster">
                </div>
            </div>
        </div>
    </a>

</div>

