<br />
<h4>Enter Your information </h4>
<br /><hr />
<form action="/Buys/Bayment" method="post" style=" text-align: center;">
    <div class="form-group">
        <label>Enter your Name:</label><br>
        <input type="text" name="Name" value=""><br>
        <label>Your Email:</label><br>
        <input type="email" name="Email" value=""><br>
        <label>Your Phone Number:</label><br>
        <input type="tel" name="PhoneN" placeholder="5XXXXXXXX" pattern="[5][0-9]{8}"><br><br>
        <input type="submit" value="Submit">
    </div>
</form>


