@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left" id="">
    <h1 class="display-4 text-white ">Welcome to Artt </h1>
    <div id="rectangleOverly"> </div>
    <div id="rectangle"> </div>
    <div class="container">
        <div class="row">
            <h3 class="text-white position-absolute " style="top:54vh">
                Artt is a website to show Artworks and inspire Artists.<br>
                Artworks mentioned with a demonstrated historical information
            </h3>

        </div>
        <div class="row">
            <a asp-controller="Masterpieces" asp-action="Index" class="btn btn-lg text-white position-absolute" style="background-color: rgb(186,85,211) ;top:69vh ; left: 34vw"> Get Inspired </a>

        </div>
    </div>
</div>