@{
    Layout = "_myLayout";
    var namee = (string)ViewData["namee"];
}

<br />
<h1 class="display-4">Welcome to the Bookstore!</h1>

<h3>@namee</h3>

<img src="" alt="home page  image" width="500px" height="300px" />