<style>
.logo {
  font-size: 200px;
}
@@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}
</style>

<div class="container-fluid" style="margin:10px">
    <div class="row">
        <div class="col-sm-8">
            <h2>About Book Store    <img src="https://img.icons8.com/dotty/80/000000/earth-care.png" width="90" height="90" /></h2>
      
            <p>Our story began with ...</p>
            <a href="/Contacts">
            <button class="btn btn-outline-secondary">Get in Touch</button></a>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-signal logo"></span>
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-globe logo"></span>
        </div>
        <div class="col-sm-4">
            <h2><img src="https://img.icons8.com/carbon-copy/100/000000/diamond.png" width="90" height="90"/> Our Values</h2>
            <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>
            <p><strong>VISION:</strong> Our vision Lorem ipsum..</p>
        </div>
    </div>
</div>