@{

    var movie = (MovieModel) ViewData["Movie"];
    <h1 class="align-middle" style="color: white">ID is @movie.Id, Name is @movie.Name, Year is @movie.Year. <img src="@movie.Image" height="200px" alt="Not supported"></h1>

}