
@{

    var recipes = (List<Recipe>)ViewData["recipes"];

}

<h1 style="color:whitesmoke; margin-left:370px; margin-bottom:20px">Chefs Information</h1>
@foreach (var recipe in recipes)
{


    <div class="card" style="width: 18rem; display:inline-table; margin-left:50px; margin-bottom:20px">

        <img src="@recipe.pic" class="card-img-top" alt="Chef image" width="200" height="350">

        <div class="card-body" style="display:inline-table; font-family:'Comic Sans MS' ">
            <p class="card-text">@recipe.ChefName</p>
            <p class="card-text">@recipe.country</p>
            <p class="card-text">@recipe.RecipeName</p>
            <a href="/Recipe/Details/@recipe.id" style="color:rosybrown"> <p>Chef recipe</p></a>

        </div>
    </div>



}
