@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutDesign";
}

<div class="text-center" style="margin-bottom:10px; margin-top:10px;">

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="http://adabworld.com/wp-content/uploads/2020/10/adabworld-quotes-152.jpg" width="50%" height="450px" alt="http://adabworld.com/wp-content/uploads/2020/10/adabworld-quotes-152.jpg">
            </div>
            <div class="carousel-item">
                <img src="https://i.pinimg.com/originals/ad/22/a5/ad22a57a02271f0add093617aab0b43a.jpg" width="50%" height="450px" alt="https://i.pinimg.com/originals/ad/22/a5/ad22a57a02271f0add093617aab0b43a.jpg">
            </div>
            <div class="carousel-item">
                <img src="https://i0.wp.com/adabworld.com/wp-content/uploads/2020/10/adabworld-quotes-2652.jpg?fit=1080%2C1080&ssl=1" width="50%" height="450px" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://i.pinimg.com/originals/77/6c/15/776c15bd00207f6b1722a7ee1d575898.jpg" width="50%" height="450px" alt="...">
            </div>
        </div>
    </div>
</div>


