@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the <b>BOOK </b> <b style ="color:red"> STORE</b></h1>
   <div style="padding-top: 250px">
       </div>
      
             <a href="/Books" style="color:red; font-weight:500; text-decoration:underline; float:left; margin-left:20%;">Browse our collection of books</a>
             Or view our popular authors.
             <a href="/Authors" style="color:blue; font-weight:500; text-decoration:underline; float:right; margin-right:20%">Authors</a>

</div>
