@{
    var allProduct = (List<Product>)ViewData["Category"];

    var isNew = true;
}

<br />
<br />
<table class="table table-hover">
    <thead style="background-color: Gold; color: white">
        <tr>
            <th width="400px">
                Id
            </th>
            <th width="400px">
                Name
            </th>

            <th width="400px">
                Price
            </th>
            <th width="400px">
                Image
            </th>
            <th width="400px">

            </th>
        </tr>
    </thead>
    <tbody style="background-color:">
        @foreach (var p in allProduct)
        {
            <tr style="align-items:center">
                <td style="vertical-align: middle;">
                    @p.Id
                </td>
                <td style="vertical-align: middle;">
                    @if (isNew)
                    {
                        <span class="badge badge-secondary">New</span>}
                    @{
                        isNew = false;
                    }


                    @p.Title
                </td>

                <td style="vertical-align: middle;">
                    @p.Price$
                </td>
                <td>
                    <img style="width:170px; height:180px" src="@p.Image" />
                </td> @* table data**@
                <td style="vertical-align: middle;">
                    @*<button> <a href="/Products/Details/@p.Id"> Show Details </a> </button>*@
                    <button type="button" class="btn btn-warning" style="background-color:lightgoldenrodyellow;">
                        <a style=" color: goldenrod" href="/Products/Index/@p.Id">
                            Show Details
                        </a>
                    </button>
                </td>

            </tr>
        }
    </tbody>

</table>