@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p style="font-family:Calibri; font-size: 17px; font-weight:bolder; margin-top: 177px">
        Checkout the city's best locations, review their information and bookmark them for your future visits.
    </p>
</div>
