
@{
    var foods = (List<Food>)ViewData["foods"];
}

<body style=" background-color: oldlace">
    <h1 style="color:lavenderblush; margin-left:500px; margin-bottom:20px">Dishes</h1>
  

        <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                </ol>
                @foreach (var food in foods)
                {
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="@food.image" class="d-block" alt="..." width="700" height="500" style="margin-left: 200px">
                            <div class="carousel-caption d-none d-md-block">
                                <a href="/Recipe/Details/@food.id"> <h5 style="color:whitesmoke">@food.dishName</h5></a>
                            </div>
                        </div>

                    </div>
                }


            </div>
        </div>





</body>