@{
    ViewData["Title"] = "Home Page";
}
<section style=" height: 450px;background-image: url(movieImage.jpg)">
    <div class="text-center" style="padding-top: 50px; color: white; text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black, 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue">
        <h1 class="display-4" style="font-weight: bold">Movies and TV Shows Library</h1>
        <h2 style="padding-top: 100px; font-weight: bold">Choose Which Library You Want to Explore</h2>
        
    </div>
</section>
<div class="text-center" >
    <div style="padding-top: 100px">
        <a href="./movies/" style="padding-right: 100px"><button style="width: 300px; height: 200px; font-size: 30px" type="button" class="btn btn-primary">Movies</button></a>
        <a href="./tvshows/"><button style="width: 300px; height: 200px; font-size: 30px" type="button" class="btn btn-primary">Tv Shows</button></a>
    </div>
</div>