

@{
    var shops = (List<ShopModel>)ViewData["Shops"];

    
}

<table style="width:100%" class="table table-striped table-hover">
    <tr class="table table-striped">

        <th scope="col">NAME</th>
        <th scope="col">LOCATION</th>
        <th scope="col">PHONE</th>
    </tr>
    @foreach (var s in shops)
    {
        <tr class="table-light">
            <td>@s.name</td>
            <td> @s.location</td>
            <td>Tel: @s.phone</td>
        </tr>

    }

</table>
