@{
    ViewData["Title"] = "Home Page";
    Layout = "WebLayout";
}
<center>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
       
        <a class="navbar-brand" href="/Home"><img style="height:30px; width:30px;" src="https://cdn0.iconfinder.com/data/icons/flowers-and-leaves/47/flower_9-512.png"/></a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/Products/Flowers">Flowers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Privacy">Privacy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/CustomerReviews">Customers Reviews</a>
            </li>
        </ul>
    </nav>
</center>
<center>
    <div><img style="width:1000px; height:400px" src="https://64.media.tumblr.com/24cc167c187dc283cf3fc7858e262bf9/tumblr_okibhwtxw51vccz9go5_1280.png" alt="HomePageImage" /></div>

    <h1 style="color: #ff8080; font-family: 'Arial Nova'; font-style: italic;">
        Flower Shop

    </h1>
    <p style="color: #ff8080;">
        _____________________________________________________________________________________________________________________________________________________________________________________________
        </p>
        <h4 style="color: black; font-family: 'Arial Nova'; font-style: italic; font-weight:bold;">
            About Us:
        </h4>
    <p style="color: #ff8080; font-family: 'Arial Nova'; font-style: italic;">
        Our shop is an online flower shop that delivers the flowers that you choose to your loved ones for all your occasions.
    </p>
    <h4 style="color: black; font-family: 'Arial Nova'; font-style: italic; font-weight:bold;">
        Contact Us:
    </h4>
    <p style="color: #ff8080; font-family: 'Arial Nova'; font-style: italic;">
        Address: Karan, Al Fanateer, Jubail Industrial City <br />
        Phone Number: +966-555699110 <br />
        Working Hours: 7 days a week from 9:00 am to 7:00 pm <br />
        Email: ContactUs@FlowerShop.com
    </p>
</center>

