@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Tuwaiq's Finest </h1>
    <br />
    <h3 sstyle="color:#30475e">You can start by checking our : </h3>
    <div  class=".container" style="padding-left:350px;padding-top:100px ;flex-direction:row;height:auto;width:auto;">
        <ul class="navbar-nav flex-row ">
            <li class="nav-item " style="position: center;padding-right:20px;
        background-blend-mode: screen;
        background-image: url(https://d33wubrfki0l68.cloudfront.net/b8d40757898dd96b73b4317a79fff600fb8cf060/dc238/institute-images/logo-text-black.png);
        background-size: cover;
        width: 200px">
                <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index"><b>Courses</b></a>
            </li>
            <li class="nav-item " style=" position :center ; background-blend-mode: screen;
        background-image: url(https://d33wubrfki0l68.cloudfront.net/b8d40757898dd96b73b4317a79fff600fb8cf060/dc238/institute-images/logo-text-black.png) ; background-size:contain; width:200px ">

                <a class="nav-link text-dark" asp-area="" asp-controller="Lecturers" asp-action="index"><b>Lecturers</b></a>
            </li>
        </ul>
    </div>
   
</div>
